<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://example.com/thymeleaf/shiro">
    <head>
        <meta charset="utf-8" />
        <title>Apache Shiro Sample</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../css/bootstrap.min.css" media="screen" />
        <link ref="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"
              href="../../css/bootstrapValidator.min.css" media="screen" />
    </head>
    <body>
        <p th:text="${message}">Dummy Message</p>
    </body>
</html>
