<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://suke_masa.com/thymeleaf/shiro">
    <head>
        <meta charset="utf-8" />
        <title>Apache Shiro Sample</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
              href="../../css/bootstrap.min.css" media="screen" />
        <link ref="stylesheet" th:href="@{/css/bootstrapValidator.min.css}"
              href="../../css/bootstrapValidator.min.css" media="screen" />
    </head>
    <body>
        <!--
          thanks for Bootsnipp
          http://bootsnipp.com/snippets/featured/parallel-signin-and-signup
        -->
        <div class="container">
            <div class="page-header">
                <h1>Apache Shiro <span class="text-info">Authentication</span></h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form th:action="@{/users/sign_up}"
                          action="./index.html"
                          id="signupForm" class="form-horizontal" method="post">
                        <h4>Sign Up</h4>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputEmail">Email</label>
                            <div class="col-md-8">
                                <input type="email" id="inputEmail" class="form-control" name="email" placeholder="e.g. yourname@gmail.com" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputPassword">Password</label>
                            <div class="col-md-8">
                                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Min. 8 Characters" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="confirmPassword">Confirm Password</label>
                            <div class="col-md-8">
                                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="retype password for confirm" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="firstName">First Name</label>
                            <div class="col-md-8">
                                <input type="text" id="firstName" class="form-control" name="firstName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lastName">Last Name</label>
                            <div class="col-md-8">
                                <input type="text" id="lastName" class="form-control" name="lastName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Role</label>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="role"  value="STAFF" checked="checked">staff</input>
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="role"  value="MANAGER">manager</input>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" id="confirmTerm" name="confirmTerm" value="true">
                                        I agree all your Terms of Services
                                        </input>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-primary" type="submit">SignUp</button>
                                <a class="btn btn-default" data-toggle="modal" href="#signUpHelpModal">Help</a>
                            </div>
                        </div>
                    </form>
                </div><!-- col-md-6 -->
                <div class="col-md-6">
                    <div shiro:guest>
                        <form th:action="@{/users/sign_in}"
                              action="./index.html"
                              id="signinForm" class="form-horizontal" method="post">
                            <h4>Sign In</h4>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="signinEmail">Email</label>
                                <div class="col-md-8">
                                    <input type="email" id="signinEmail" class="form-control" name="email" placeholder="e.g. yourname@gmail.com" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="signinPassword">Password</label>
                                <div class="col-md-8">
                                    <input type="password" id="signinPassword" name="password" class="form-control" placeholder="Min. 8 Characters" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <div class="checkbox">
                                        <label class="checkbox">
                                            <input type="checkbox" name="keepsigned" value="true">Keep me signed in</input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-primary" type="submit">SignIn</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div shiro:notAuthenticated>
                        <div shiro:user>
                            <h3>Welcome back <span shiro:principal>foo@sample.com</span> !</h3>
                            <form th:action="@{/users/logout}"
                                  action="/ShiroSample/users/logout" method="post">
                                <p>Not <span shiro:principal>foo@sample.com</span> ?</p>
                                <p>Please signin <button type="submit" class="btn btn-link">here</button></p>
                            </form>
                        </div>
                    </div>
                    <div shiro:authenticated>
                        <h3>Hello, <span shiro:principal>foo@sample.com</span></h3>
                        <form th:action="@{/users/logout}"
                              action="./index.html" method="post">
                            <div class="form-group">
                                <button type="submit" id="logout-button" class="btn btn-primary">logout</button>
                            </div>
                        </form>
                    </div>
                </div><!-- col-md-6 -->
            </div><!-- .row -->

            <div class="page-header">
                <h1>Apache Shiro <span class="text-info">Autholization</span></h1>
            </div>
            <div shiro:notAuthenticated>
                <h4>Please signin mamager role user.</h4>
            </div>
            <div shiro:authenticated>
                <div shiro:lacksRole="MANAGER">
                    <h4>STAFF role can't refer user account list.</h4>
                </div>
                <div shiro:hasRole="MANAGER">
                    <h3>list users</h3>
                    <table class="table table-hover">
                        <thead>
                        <th>#</th>
                        <th>Email</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        </thead>
                        <tbody>
                            <tr th:each="account : ${accountList}">
                                <td th:text="${account.id}">Dummy ID</td>
                                <td th:text="${account.email}">dummy@mail.com</td>
                                <td th:text="${account.firstName}">John</td>
                                <td th:text="${account.lastName}">Doe</td>
                                <td th:text="${account.userRole}">Manager</td>
                            </tr>
                            <!--/*-->
                            <tr>
                                <td>Dummy ID2</td>
                                <td>dummy2@mail.com</td>
                                <td>John2</td>
                                <td>Doe2</td>
                                <td>Staff</td>
                            </tr>
                            <tr>
                                <td>Dummy ID3</td>
                                <td>dummy3@mail.com</td>
                                <td>John3</td>
                                <td>Doe3</td>
                                <td>Staff</td>
                            </tr>
                            <!--*/-->
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!-- .container -->

        <!-- modal -->
        <div class="modal fade" id="signUpHelpModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">SignUp Help</h4>
                    </div>
                    <div class="modal-body">
                        <h4>Password Policy</h4>
                        <ul>
                            <li>Min 8 charactors only</li>
                        </ul>
                        <h4>What is Role?</h4>
                        <ul>
                            <li>staff: can singin only. can't refer user list which already signup.</li>
                            <li>manager: can refere user list.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                    </div>
                </div>
            </div>
        </div><!-- modal -->

        <script th:src="@{/js/jquery-1.11.1.min.js}" src="../../js/jquery-1.11.1.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
        <script th:src="@{/js/bootstrapValidator/bootstrapValidator.min.js}" src="../../js/bootstrapValidator/bootstrapValidator.min.js"></script>
        <script th:src="@{/js/shirosample.js}" src="../../js/shirosample.js"></script>
    </body>
</html>
